:root{
  --light-purple: #D9BBE9;
  --indigo: #7E7EBA;
  --pink: #FDC9DE;
  --peach: #FFDFDB;
  --text-color: rgb(41, 36, 55);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  font-family: sans-serif;
}
body {
  background-color: var(--light-purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em 3em;
}

.learner{
  background-color: white;
  margin: 1.5em 0;
  padding: 1em;
  border-radius: 0.75em;
  border: 0.25em solid var(--pink);
}
.learner>h2{
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  color: var(--text-color);
  border-bottom: 0.1em solid var(--light-purple);
}
.learner section >h3{
  color: var(--indigo);
  margin-bottom: 0.5em;
}
.learner section{
  margin: 0.75em 0;
}
.bold{
  font-weight: bold;
}
.score{
  border-radius: 0.75em;
  overflow: hidden;

}
.score:first-child {
  padding: 0;
}

div ul:nth-child(even){
  background-color: var(--peach);
}
div ul:nth-child(odd){
  background-color: #fceeec;
}
div ul{
  list-style: none;
  padding: 0.5em;
}